In [ ]:
Q-17. Write an SQL query to show the top n (say 10) records of a table.
Ans: SELECT * FROM Worker ORDER BY Salary DESC LIMIT 10;

In [ ]:
Q-18. Write an SQL query to determine the nth (say n=5) highest salary from a table.
Ans:SELECT TOP 5 salary FROM (SELECT TOP N salary  FROM emps ORDER BY salary DESC) ORDER BY salary ASC;