In [ ]:
Q-13. Write an SQL query to show only odd rows from aÂ table.
   ans: SELECT * FROM table_name WHERE mod(column_name,2) = 0;

In [ ]:
Q-14. Write an SQL query to clone a new table from another table.
   ans: CREATE TABLE new_table LIKE original_table;
        INSERT INTO new_table SELECT * FROM original_table;