In [ ]:
Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit
method.
Ans:SELECT * FROM (
    SELECT ROW_NUMBER() OVER (ORDER BY SALARY DESC) AS rownumber,Salary.
    FROM Employee )
    AS foo.
    WHERE rownumber = 5.

In [ ]:
Q-20. Write an SQL query to fetch the list of employees with the same salary.
Ans:SELECT *
    FROM employees
    WHERE salary IN
    (SELECT salary
    FROM employees e
    WHERE employees.emp_id <> e.emp_id);